<div class="tab-content my-2" id="no-order-total">
    <div class="tab-pane show active" id="one-time-products">
        <div class="row g-2" id="one-time-products-list">
            <div class="card placeholder-glow w-100 border-0 p-1">
                <div class="btn-secondary-outline btn py-4 mb-2 w-100 placeholder">
                </div>
                <div class="btn-secondary-outline btn py-4 mb-2 w-66 placeholder">
                </div>
                <div class="btn-secondary-outline btn py-4 mb-2 w-33 placeholder">
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="monthly-products">
        <div class="row g-2" id="monthly-products-list">
            <div class="card placeholder-glow w-100 border-0 p-0">
                <div class="btn-secondary-outline btn py-4 mb-2 w-100 placeholder">
                </div>
                <div class="btn-secondary-outline btn py-4 mb-2 w-66 placeholder">
                </div>
                <div class="btn-secondary-outline btn py-4 mb-2 w-33 placeholder">
                </div>
            </div>
        </div>
    </div>
</div>