<div id="project-entries" class="row h-100 align-items-center" order-id="{{data.order._id}}">

    <h3>
        Currently there are no beneficiaries available for donation. It can be
        due to a surge in internet traffic that all beneficiaries are placed in carts.
        Or the beneficiaries are fully paid. You can send us a message to inform you
        when donations become available.
    </h3>

</div>