<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle"> Overview </div>
        <h2 class="page-title"> Payments
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          {{#if (findInArray data.role 'gaza-orphans')}}
          <button class="btn btn-primary cursor-pointer ps-md-2 pe-md-3" onclick="loadDonationOverlay('gaza-orphans')">
            <i class="ti ti-plus"></i>
            <span class="d-none d-md-block ms-2">Select New Beneficiaries</span>
          </button>
          {{else}}
          <button class="btn btn-primary cursor-pointer ps-md-2 pe-md-3" data-bs-toggle="modal"
            data-bs-target="#modal-new-order">
            <i class="ti ti-plus"></i>
            <span class="d-none d-md-block ms-2">Select New Beneficiaries</span>
          </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="container-xl pt-4" id="data-container">
  {{> showOrders}}
</div>

{{> emptyOrderModal}}

<script src="/static/orders.js"></script>

<script>

  let newLayout = '{{data.layout}}' == 'grid' ? 'table' : 'grid';

  const toggleLayout = function (elem) {
    $.ajax({
      url: '/update-layout',
      method: 'POST',
      data: { layout: newLayout },
      success: function (response) {
        $.ajax({
          url: '/getOrdersTable',
          method: 'GET',
          success: function (response) {
            newLayout = newLayout == 'grid' ? 'table' : 'grid';
            $("#data-container").html(response);
          },
          error: function (error) {
            alert(error.responseText);
          }
        });
      },
      error: function () {
        alert("Failed to update layout.");
      }
    });

  }

  const refreshContainers = function (modal) {
    const hrefOrder = "?refresh=true";
    loadOrdersInContainer(modal, hrefOrder);
  }

  const loadOrdersInContainer = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    const url = `/getOrdersData${href}`;
    $.ajax({
      url,
      method: 'GET',
      success: function (response) {
        $(`#data-container`).html(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const getEditOrderModal = function (elem) {
    const orderId = $(elem).attr("order-id");

    const modalExists = $(document).find(`#button-${orderId}`).length > 0;

    if (modalExists) {
      return $(`#button-${orderId}`).trigger("click");
    }

    const isCreateModal = $(document).find(`.modal[order-id=${orderId}]`).length > 0;
    console.log({ isCreateModal });
    if (isCreateModal) {
      const modal = new bootstrap.Modal(document.getElementById('modal-new-order'))
      modal.show();
      return;
    }

    $.ajax({
      url: `/getEditOrderModal/${orderId}`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-${orderId}`).trigger("click");
        refreshFsLightbox();
        initializePopovers();
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }

</script>