<div class="page justify-content-md-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        <img src="/static/images/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
      </a>
    </div>
    <form class="card card-md" action="" method="" autocomplete="off" novalidate>
      <div class="card-body">

        <h2 class="text-center">Registration Form</h2>

        <div class="d-flex align-items-center">
          <nav class="mb-3 nav nav-segmented nav-2 mx-auto" role="tablist">
            <button type="button" class="shadow-none btn border nav-link active me-2" role="tab" data-bs-toggle="tab"
              aria-selected="true" aria-current="page" data-bs-target="#individual-donor">Individual Donor</button>
            <button type="button" class="shadow-none btn border nav-link" role="tab" data-bs-toggle="tab"
              aria-selected="false" tabindex="-1" data-bs-target="#organization">Organization</button>
          </nav>
        </div>

        <div class="mb-3">
          <label class="form-label">Your Name</label>
          <input required id="name" type="text" class="form-control" placeholder="Enter name" value="{{name}}">
        </div>
        <div class="mb-3">
          <label class="form-label">Your Email address</label>
          <input required id="email" type="email" class="form-control" placeholder="Enter email" value="{{email}}"
            disabled>
        </div>

        <div class="mb-3">
          <label class="form-label">Your Password</label>
          <div class="input-group input-group-flat">
            <input required id="password" type="password" class="form-control" placeholder="Password"
              autocomplete="off">
            <span class="input-group-text">
              <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip" id="togglePassword">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                </svg>
              </a>
            </span>
          </div>
        </div>

        <div class="tab-content">
          <div class="tab-pane show active" id="individual-donor" role="tabpanel">
            <div class="mb-3">
              <label class="form-label">Your Address</label>
              <div class="form-hint">This address is listed on your invoices and orders.</div>
              <input id="address" type="text" class="form-control" placeholder="Home No 341, 1074, Oslo, Norway"
                value="">
            </div>
          </div>
          <div class="tab-pane " id="organization" role="tabpanel">
            <div class="mb-3">
              <label class="form-label">Organization Name</label>
              <input id="organization-name" type="text" class="form-control" placeholder="Alkhidmat Europe" value="">
            </div>
            <div class="mb-3">
              <label class="form-label">Organization Address</label>
              <div class="form-hint">This address is listed on your invoices and orders.</div>
              <input id="organization-address" type="text" class="form-control"
                placeholder="Home No 341, 1074, Oslo, Norway" value="">
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-check">
            <input type="checkbox" class="form-check-input" id="terms" />
            <span class="form-check-label">Agree the <a href="https://www.akeurope.org/terms-of-service"
                tabindex="-1">terms and
                policy</a>.</span>
          </label>
        </div>
        <div class="form-footer">
          <button type="button" class="btn btn-primary w-100" onclick="registerNow(this)">Register & sign in</button>
        </div>
      </div>
    </form>
    <div class="text-center text-secondary mt-3">
      Already have account? <a href="/login" tabindex="-1">Sign in</a>
    </div>
  </div>
</div>

<script>
  const registerNow = function (elem) {

    let isValid = [];

    const form = $(elem).closest('.card-body');

    $(form).find("input").removeClass("is-invalid");
    $(form).find(".invalid-feedback").remove();
    $(form).find("span").removeClass("border-red");
    $(form).find("span").removeClass("rounded-end");
    $(form).find(".alert").remove();

    const donorType = $('.nav-link.active').text().trim();

    let organizationName = "";
    let organizationAddress = "";

    if (donorType == "Organization") {
      organizationName = $('#organization-name').val();
      organizationAddress = $('#organization-address').val();

      if (organizationName == "") {
        $('#organization-name').addClass("is-invalid");
      }
      if (organizationAddress == "") {
        $('#organization-address').addClass("is-invalid");
      }

    } else if (donorType == 'Individual Donor') {
      const address = $('#address').val();
      if (address == "") {
        $('#address').addClass("is-invalid");
      }
    }


    $(form).find("input:required").each((key, val) => {
      if ($(val).val() == "") {
        $(val).addClass("is-invalid")
        if ($(val).siblings("span").length > 0) {
          $(val).siblings("span").after(`<div class="invalid-feedback mb-2">Invalid entry</div> `);
          $(val).siblings("span").addClass("is-invalid border-red rounded-end");
        } else {
          $(val).after(`<div class="invalid-feedback">Invalid entry</div> `);
        }
      }
      isValid.push($(val).val() != "");
    })

    if (!($("#terms").is(":checked"))) {
      $("#terms").siblings("span").addClass("is-invalid")
      $("#terms").siblings("span").after(`<div class="invalid-feedback">You need to agree to our terms and policies</div> `);
      isValid.push(false);
    }

    if (!(isValid.every(val => val === true))) {
      return false;
    }

    const name = $('#name').val();
    const password = $('#password').val();
    const organization = $('#organization-name').val();
    const address = donorType == 'Organization' ? $('#organization-address').val() : $('#address').val();

    let currentBtnHTML = $(elem).html();
    $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span> Registering`);

    console.log({ name, password, organization, address });

    $.ajax({
      url: '/register/{{token}}',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ name, password, organization, address }),
      success: function (response) {
        $(".form-footer").after(`
            <div class="alert alert-success mt-4" role="alert">
              <h4 class="alert-title">Registration succesful!</h4>
              <div class="text-secondary">${response}</div>
            </div>`);
        $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span> Logging you in`);
        login(elem);
      },
      error: function (xhr, status, error) {
        $(".form-footer").after(`
              <div class="alert alert-danger mt-4" role="alert">
                <h4 class="alert-title">Failed to create account!</h4>
                <div class="text-secondary">${xhr.responseText}</div>
              </div>`);
      }
    });
  }

  const login = function (elem) {
    const email = $('#email').val();
    const password = $('#password').val();

    let currentBtnHTML = $(elem).html();
    $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span>`);

    $.ajax({
      url: '/login',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ email, password }),
      success: function (response) {
        $(elem).html(currentBtnHTML);
        window.location.href = "/dashboard";
      },
      error: function (xhr, status, error) {
        $(elem).html(currentBtnHTML);
        $(".form-footer").after(`
            <div class="alert alert-danger mt-4" role="alert">
              <h4 class="alert-title">Login failed!</h4>
              <div class="text-secondary">${xhr.responseText}</div>
            </div>`);
      }
    });
  }

  $('#togglePassword').on('click', function () {
    const passwordField = $('#password');
    const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
    passwordField.attr('type', type);
  });
</script>