<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        <img src="/static/images/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
      </a>
    </div>
    <form class="card card-md" method="" autocomplete="off" novalidate>
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Create your organization's account</h2>
        <p class="text-secondary mb-4">Enter your name and email address below to receive the registration link. </p>
        <div class="mb-3">
          <label class="form-label">Your Name</label>
          <input id="name" type="text" class="form-control" placeholder="Enter your name" value="{{email}}">
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input id="email" type="email" class="form-control" placeholder="Enter email" value="{{email}}">
        </div>
        <div class="form-footer">
          <button class="btn btn-primary w-100" onclick="submitForm(this)"><svg xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-send">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 14l11 -11" />
              <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
            </svg>Send registration link to email</button>
        </div>
      </div>
    </form>
    <div class="text-center text-secondary mt-3">
      Already have account? <a href="/login" tabindex="-1">Sign in</a>
    </div>
  </div>
</div>

<script>
  $(document).on('submit', 'form', function (e) {
    e.preventDefault();
  });

  const submitForm = function (elem) {
    let isValid = [];

    const form = $(elem).closest('.card');

    $(form).find("input").removeClass("is-invalid");
    $(form).find(".invalid-feedback").remove();
    $(form).find("span").removeClass("border-red");
    $(form).find("span").removeClass("rounded-end");
    $(form).find(".alert").remove();

    $(form).find("input").each((key, val) => {
      if ($(val).val() == "") {
        $(val).addClass("is-invalid")
        if ($(val).siblings("span").length > 0) {
          $(val).siblings("span").after(`<div class="invalid-feedback mb-2">Invalid entry</div> `);
          $(val).siblings("span").addClass("is-invalid border-red rounded-end");
        } else {
          $(val).after(`<div class="invalid-feedback">Invalid entry</div> `);
        }
      }
      isValid.push($(val).val() != "");
    })

    if (!(isValid.every(val => val === true))) {
      return false;
    }

    const name = $('#name').val();
    const email = $('#email').val();

    let currentBtnHTML = $(elem).html();
    $(elem).html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span> Sending Email`);

    $.ajax({
      url: '/sendRegistrationLink',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ name, email }),
      success: function (response) {
        $(".form-footer").after(`
              <div class="alert alert-success mt-4" role="alert">
                <h4 class="alert-title">Email sent!</h4>
                <div class="text-secondary">${response}</div>
              </div>`);
        $(elem).html(currentBtnHTML);
      },
      error: function (xhr, status, error) {
        $(elem).html(currentBtnHTML);
        $(".form-footer").after(`
              <div class="alert alert-danger mt-4" role="alert">
                <h4 class="alert-title">Failed to create account!</h4>
                <div class="text-secondary">${xhr.responseText}</div>
              </div>`);
      }
    });
  }

  $('#togglePassword').on('click', function () {
    const passwordField = $('#password');
    const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
    passwordField.attr('type', type);
  });
</script>