<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Overlay</title>
    <link rel="stylesheet" href="{{tablerCss}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="/static/paymentModal.css">
</head>

<body>
    <div id="payment-overlay"
        class="position-fixed top-0 start-0 w-100 h-100 bg-black-50 d-flex align-items-center justify-content-center">
        <div class="row justify-content-center" style="margin-top: 48px;">

            <div class="col-6 col-lg-4 card shadow-lg ms-2 me-3 p-0 rounded-4 overflow-hidden">
                <div class="img-responsive img-responsive-21x9 card-img-top"
                    style="height: 300px; background-image: url(https://images.unsplash.com/photo-1591522810850-58128c5fb089?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                </div>
                <div class="card-body p-4">
                    <img class="mb-3"
                        src="https://res.cloudinary.com/miscellaneous/image/upload/v1737903106/akeurope/Group_427320398.png"
                        style="height: 40px">
                    <h2 class="fw-medium mb-2">Save Families in Palestine</h2>
                    <p class="fs-3">The Messenger of Allah, peace and blessings be upon him, said, “Whoever relieves the
                        hardship of a believer in this world, Allah will relieve his hardship on the Day of
                        Resurrection. Whoever helps ease one in difficulty, Allah will make it easy for him in this
                        world and in the Hereafter. (Sahih Muslim). Donate generously to help our brothers and sisters
                        in Palestine today.</p>
                    <a href="" class="mt-4 text-small">Manage your donation</a>
                </div>
            </div>

            <div id="wrapper" class="col-4 col-lg-3 card shadow-lg me-2 rounded-4 overflow-hidden">

                <div id="slide-container">

                    <div class="slide" id="slide-select-amount">

                        <div class="header">
                            <div class="d-flex align-content-center justify-content-center my-3">
                                <svg fill="none" height="28" viewBox="0 0 28 28" width="28" style="color: #1bc31b"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="icon-fill shrink-0 font-size-28 text-green-80 me-2" aria-hidden="true">
                                    <g fill="currentColor">
                                        <path clip-rule="evenodd"
                                            d="m15.0393 2.44995c-.6707-.24772-1.4079-.24772-2.0786 0l-8.30715 3.06797c-.39274.14504-.65355.51939-.65355.93807v7.54411c0 3.6861 1.95965 6.6874 4.28911 8.8073 1.16017 1.0557 2.38789 1.8689 3.45309 2.4137 1.1081.5668 1.9145.779 2.2578.779s1.1497-.2122 2.2578-.779c1.0652-.5448 2.2929-1.358 3.4531-2.4137 2.3294-2.1199 4.2891-5.1212 4.2891-8.8073v-7.54411c0-.41868-.2608-.79303-.6536-.93807zm-2.7715-1.876139c1.1179-.412868 2.3465-.412868 3.4644 0l8.3071 3.067969c1.1783.43514 1.9607 1.55819 1.9607 2.81421v7.54411c0 4.4389-2.3618 7.9375-4.943 10.2865-1.2952 1.1786-2.6702 2.092-3.8885 2.7151-1.1754.6012-2.3332.9984-3.1685.9984s-1.9931-.3972-3.1685-.9984c-1.21831-.6231-2.59328-1.5365-3.88847-2.7151-2.58125-2.349-4.94303-5.8476-4.94303-10.2865v-7.54411c0-1.25602.78243-2.37907 1.96066-2.81421z"
                                            fill-rule="evenodd"></path>
                                        <path
                                            d="m18.2906 11.75h-.2535v-1.1855c0-2.19278-1.7415-4.02451-3.9182-4.06361-.0595-.00107-.1783-.00107-.2378 0-2.1767.0391-3.91819 1.87083-3.91819 4.06361v1.1855h-.25354c-.39069 0-.70937.4028-.70937.9003v5.9463c0 .4969.31868.9035.7094.9035h8.5812c.3907 0 .7094-.4066.7094-.9035v-5.9463c0-.4974-.3187-.9003-.7094-.9003zm-3.4867 3.8674v1.7967c0 .2058-.1723.3799-.3784.3799h-.8509c-.2061 0-.3785-.1741-.3785-.3799v-1.7967c-.1999-.1966-.3162-.4684-.3162-.7691 0-.5698.4408-1.0594 1.0013-1.082.0594-.0024.1783-.0024.2377 0 .5605.0226 1.0013.5122 1.0013 1.082 0 .3007-.1164.5725-.3163.7691zm1.5623-3.8674h-4.7323v-1.1855c0-1.30621 1.0623-2.38623 2.3661-2.38623s2.3662 1.08002 2.3662 2.38623z">
                                        </path>
                                    </g>
                                </svg>
                                <h2 class="fw-normal">Secure donation</h2>
                            </div>
                        </div>

                        <div class="body">

                            <div class="tabs">
                                <div class="nav btn-group w-100 mb-2" role="group">
                                    <a class="btn py-2 fs-3 active" freq="once" id="one-time-tab" data-bs-toggle="tab"
                                        href="#one-time-products">Give once</a>
                                    <a class="btn py-2 fs-3" freq="monthly" id="monthly-tab" data-bs-toggle="tab"
                                        href="#monthly-products">
                                        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                            class="iconify iconify--noto" preserveAspectRatio="xMidYMid meet"
                                            fill="#000000" style="width: 17px; margin-right: 8px;">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M93.99 8.97c-21.91 0-29.96 22.39-29.96 22.39s-7.94-22.39-30-22.39c-16.58 0-35.48 13.14-28.5 43.01c6.98 29.87 58.56 67.08 58.56 67.08s51.39-37.21 58.38-67.08c6.98-29.87-10.56-43.01-28.48-43.01z"
                                                    fill="#f44336"> </path>
                                                <g fill="#c33">
                                                    <path
                                                        d="M30.65 11.2c17.2 0 25.74 18.49 28.5 25.98c.39 1.07 1.88 1.1 2.33.06L64 31.35C60.45 20.01 50.69 8.97 34.03 8.97c-6.9 0-14.19 2.28-19.86 7.09c5.01-3.29 10.88-4.86 16.48-4.86z">
                                                    </path>
                                                    <path
                                                        d="M93.99 8.97c-5.29 0-10.11 1.15-13.87 3.47c2.64-1.02 5.91-1.24 9.15-1.24c16.21 0 30.72 12.29 24.17 40.7c-5.62 24.39-38.46 53.98-48.49 65.27c-.64.72-.86 1.88-.86 1.88s51.39-37.21 58.38-67.08c6.98-29.86-10.53-43-28.48-43z">
                                                    </path>
                                                </g>
                                                <path
                                                    d="M17.04 24.82c3.75-4.68 10.45-8.55 16.13-4.09c3.07 2.41 1.73 7.35-1.02 9.43c-4 3.04-7.48 4.87-9.92 9.63c-1.46 2.86-2.34 5.99-2.79 9.18c-.18 1.26-1.83 1.57-2.45.46c-4.22-7.48-5.42-17.78.05-24.61z"
                                                    fill="#ff8a80"> </path>
                                                <path
                                                    d="M77.16 34.66c-1.76 0-3-1.7-2.36-3.34c1.19-3.02 2.73-5.94 4.58-8.54c2.74-3.84 7.95-6.08 11.25-3.75c3.38 2.38 2.94 7.14.57 9.44c-5.09 4.93-11.51 6.19-14.04 6.19z"
                                                    fill="#ff8a80"> </path>
                                            </g>
                                        </svg>
                                        Monthly</a>
                                </div>

                                <div class="tab-content mt-2">
                                    <div class="tab-pane show active" id="one-time-products">
                                        <div class="row g-2" id="one-time-products-list">
                                            <div
                                                class="p-0 col-12 row g-2 placeholder-glow d-flex align-items-center mt-1 m-auto">
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-12"><a href="#" tabindex="-1"
                                                        class="btn w-100 disabled placeholder col-12 fs-3"
                                                        style="height:45px" aria-hidden="true"></a> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="monthly-products">
                                        <div class="row g-2" id="monthly-products-list">
                                            <div
                                                class="p-0 col-12 row g-2 placeholder-glow d-flex align-items-center mt-1 m-auto">
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-4"><a href="#" tabindex="-1"
                                                        class="btn w-100 btn-green disabled placeholder py-2 fs-3 m-0"
                                                        style="height:45px" aria-hidden="true"></a></div>
                                                <div class="col-12"><a href="#" tabindex="-1"
                                                        class="btn w-100 disabled placeholder col-12 fs-3"
                                                        style="height:45px" aria-hidden="true"></a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer border-0">
                            <button id="donate-btn" class="btn btn-primary w-100 py-3 fw-bold fs-3"
                                onclick="saveDonationAmount(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
                                    <path d="M3 10h18" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16l3 3l-3 3" />
                                    <path d="M7.005 15h.005" />
                                    <path d="M11 15h2" />
                                </svg>
                                <span>Donate Once</span>
                            </button>
                        </div>

                    </div>

                    <div class="slide" id="slide-user-info">

                        <div
                            class="header border-bottom d-flex align-items-center justify-content-center position-relative pt-4 pb-2">
                            <button class="back-btn btn btn-icon btn-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M15 6l-6 6l6 6" />
                                </svg>
                            </button>
                            <h3 class="fw-bold">Enter your details</h3>
                        </div>

                        <div class="body rounded-3 border-1">
                            <div class="mb-3 position-relative" id="donor-info-form">
                                <div class="form-floating">
                                    <input type="text" class="user-info form-control rounded-top-3 rounded-bottom-0"
                                        id="first-name" placeholder="Your name">
                                    <label for="first-name">First name</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="user-info form-control rounded-0" id="last-name"
                                        placeholder="Last name">
                                    <label for="last-name">Last name</label>
                                </div>
                                <div class="form-floating">
                                    <input type="email" class="user-info form-control rounded-0" id="email"
                                        placeholder="your@email.com">
                                    <label for="floatingPassword">Email address</label>
                                </div>
                                <div id="tel-wrapper">
                                    <div class="dropdown dropup">
                                        <a href="#" class="btn btn-light" id="tel-toggle" data-bs-toggle="dropdown"></a>
                                        <div class="dropdown-menu" id="tel-codes"> </div>
                                    </div>
                                    <div class="form-floating">
                                        <input type="tel"
                                            class="user-info form-control rounded-bottom-3 rounded-top-0"
                                            id="contact-number" placeholder="9292929" inputmode="tel">
                                        <label for="contact-number">Phone number</label>
                                    </div>
                                </div>

                            </div>

                            <div id="donor-concents">

                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="user-info form-check-input" type="checkbox"
                                            id="organizationCheckbox">
                                        <label class="form-check-label" for="organizationCheckbox">
                                            Donate as an organization
                                        </label>
                                    </div>
                                    <span class="ms-2 form-help" data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-content="Select if you're donating on behalf of an organization. The donation receipt will be issued to that organization.">?</span>
                                </div>

                                <div id="organizationInputContainer" class="d-none mb-3"></div>

                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="user-info form-check-input" type="checkbox"
                                            id="anonymousCheckbox">
                                        <label class="form-check-label" for="anonymousCheckbox">
                                            Donate anonymously
                                        </label>
                                    </div>
                                    <span class="ms-2 form-help" data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-content="We won't display your information in any public feeds.">?</span>
                                </div>

                            </div>
                        </div>


                        <div class="footer border-0">
                            <button id="save-user-btn" class="btn btn-primary w-100 py-3 fw-bold fs-3"
                                onclick="saveUserInfo(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
                                    <path d="M3 10h18" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16l3 3l-3 3" />
                                    <path d="M7.005 15h.005" />
                                    <path d="M11 15h2" />
                                </svg>
                                <span>Continue</span>
                            </button>
                        </div>


                    </div>

                    <div class="slide" id="slide-payment-form">
                        <div
                            class="header border-bottom d-flex align-items-center justify-content-center position-relative pt-4 pb-2">
                            <button class="back-btn btn btn-icon btn-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M15 6l-6 6l6 6" />
                                </svg>
                            </button>
                            <h3 class="fw-bold">You donate</h3>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-12 text-center mt-3 fs-5">
                <a class="cursor-pointer text-white m-auto" data-bs-html="true" data-bs-toggle="popover"
                    data-bs-placement="top" data-bs-content="
                    <h4 class='mb-1'>Is my donation secure?</h4>
                    Yes, we use industry-standard SSL technology to keep your information secure. We partner with Stripe, the industry's established payment processor trusted by some of the world's largest companies.
                    Your sensitive financial information never touches our servers. We send all data directly to Stripe's PCI-compliant servers through SSL.
                    ">
                    Is my donation secure?
                </a>
                <span class="mx-2 text-white">·</span>
                <a class="cursor-pointer text-white m-auto" data-bs-html="true" data-bs-toggle="popover"
                    data-bs-placement="top" data-bs-content="
                    <h4 class='mb-1'>Can I cancel my recurring donation?</h4> 
                    Of course. You always remain in full control of your recurring donation, and you’re free to change or cancel it at any time.
                    ">
                    Can I cancel my recurring donation?
                </a>
            </div>

        </div>
        <button id="close-overlay" class="btn rounded-circle btn-icon text-dark p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </button>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta24/dist/js/tabler.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/paymentModal.js"></script>

</html>